
/* 
    Created on : 06/10/2018, 00:25:43
    Author     : FAMILY
*/
@import "MyFunctions.less";
body{
    .fImagemFundo-total("../img/dog-bk.png");
}



.conteiner-center
{
    margin-left: auto;
    margin-right: auto;
}

.cadastro-etapa-01 , .cadastro-etapa-02
{
    .fShadow-box(14px , 14px , 14px);
    .fAlturaVSlargura(500px , 500px , #fff);
    .fBorder(3px , #00BFFF);
    float: left;
    margin: 25px;

}